.section {
  margin: auto;
  position: relative;
  top: 0;
  width: 100%vw;
  text-align: center;
}

/*dot nav*/
/* #fp-nav.fp-right {
  right: 0px;
}

#fp-nav {
  top: 100px;
} */
/* 
hover title on dot nav
#fp-nav ul li .fp-tooltip {
  color: #53687e;
} */

/* Home page styling */

.HomeBox img {
  height: 300px;
  border-radius: 50%;
}
.Selfie {
  float: left;
  margin-left: 20px;
  opacity: 0.83;
}

.Talos {
  float: right;
  margin-right: 20px;
  opacity: 0.9;
}

.HomeBox a {
  text-decoration: none;
  color: black;
}
.HomeBox btn {
  padding: 10px;
  background-color: #ffffff99;
  border: 2px solid black;
}

/* Home page styling */

/* Projects pages styling */
.ProjectBox {
  height: 85%;
  width: 90%;
  background-color: #53687e99;
  margin: auto;
  border-radius: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ProjectBox img {
  width: 40%;
  margin: 0px auto;
}

.ProjectBox p {
  font-size: 20px;
  margin: 0px 220px;
}

/*arrows for slides on projects section*/
.fp-controlArrow.fp-next {
  right: 0.7%;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent black;
}

.fp-controlArrow.fp-prev {
  left: 0.7%;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent black transparent transparent;
}
/* Projects pages styling */

/* Contact page styling */
.ContactBox {
  width: 80%;
  height: 230px;
  background-color: #53687e99;
  margin: auto;
  border-radius: 500px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Icon {
  height: 85px;
  width: 85px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.Icon:hover,
.Icon:focus,
.Icon:active {
  -webkit-transform: scale(1.5) rotate(7deg);
  transform: scale(1.5) rotate(7deg);
  color: hotpink;
}
/* Contact page styling */
