.Navbar {
  height: 40px;
  position: absolute;
  z-index: 5;
  background: rgba(0, 0, 0, 0.75);
  overflow-x: hidden;
  padding-bottom: 10px;
  top: 0;
  width: 100%;
  /* text-align: center; */
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 20px 5px #53687e;
}

/* The navigation menu links  */
.atags {
  font-size: 20px;
}

.Navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
  margin-top: 14px;
}

.atags a {
  color: #c1dbe3;
  text-decoration: none;
  top: 0;
  margin-bottom: 20px;
  transition-duration: 700ms;
  transition-property: color;
}

.atags a:hover {
  color: #53687e;
  font-style: oblique;
}
