body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.background {
  position: fixed;
  top: 0;
  z-index: -10;
}

/* #myMenu {
  display: none;
} */

/* #fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  color: hotpink;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
} */

/* 
@media only screen and (max-width: 768px) {
  .section {
    height: 100%vh;
    width: 100%vw;
  }
  background: hotpink;
} */

/* @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
    z-index: -100;
  }
  .section {
    z-index: 1;
    text-align: -webkit-center;
  }
  .Homepage {
    background-image: url(/src/images/BW\painting\BG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
} */
